body{
    font-family: 'Raleway', sans-serif;
}

img{
    width: 30%;
    float: left;
    margin: 1.66%;
    box-shadow: 10px 10px 30px #888888;
    -webkit-transition: all .8s;
    transition: all .8s;
}

img:hover{
    /* box-shadow: 10px 4px 20px #888888; */
    box-shadow: 4px 4px 5px #888888;
    -webkit-transition: all .8s;
    transition: all .8;
}

p{
    margin-left: 1.66%;
    font-size: 2.8em;
    padding: 1%;
}

p.top-header{
    border-bottom: 1px solid #ccc;
    width: 96%;
     margin: auto; 
}

hr{
    width: 96.4%;
    color: #ccc;
}

.vision{
    color: red;
}

p.footer-text{
    text-align: center;
    font-size: 1.2em;
    color: black;
}

button{
    height: 30px;
    width: 90px;
    float: right;
    border:  none;
    color: white;
    background-color: red;
    border-radius: 2px;
    box-shadow: 10px 10px 30px #888888;
    -webkit-transition: all .6s;
    transition: all .6s;
    /* padding-bottom: 2px; */
}

button:hover{
    box-shadow: 2px 2px 5px #888888;
    -webkit-transition: all .6s;
    transition: all .6;
}